:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  --color-success-100: #a2f0bc;
  /* --color-success-500: #12bd4b; */
  --color-success-500: #b9e9c9;
  --color-success-text : #196a35;


  --color-error-100: #eecfcf;
  --color-error-500: #a10c4a;
  --color-error-text : #ac0606;

  --color-primary: #651163;
  --color-primary-darker : #300d2f;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  
}

.container{
  padding : 1rem 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar.bg-light{
  background-color: var(--color-primary) !important;
  padding: 10px 1rem;
}
.navbar.bg-light .navbar-brand{
  color: white;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary{
  background-color: var(--color-primary) !important;
  color : white !important;
  border-color: var(--color-primary) !important;
}
.btn-primary:hover{
  background-color: var(--color-primary-darker) !important;
}

.btn-outline-primary{
  background-color: white !important;
  color : var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}
.btn-outline-primary:hover{
  background-color: var(--color-primary) !important;
  color : white !important;
}


.pagination{
  justify-content: flex-end;
}
.page-item{
  cursor: pointer;
}
.page-link{
  color :  var(--color-primary) !important;
}
.active > .page-link{
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  color: white !important;
}

.active > .page-link:hover{
  background-color: var(--color-primary-darker) !important;
}

.page-item.disabled{
  cursor: auto;
}
.page-item.disabled a{
  color : #7b7b7b  !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

select.form-control{
  appearance: auto !important;
}

.invalid.form-control{
  border-color: red;
}


table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  padding: .35em;
}

table th,
table td {
  padding: .625em;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}


@media(max-width:600px){
  .btn-grow-mobile{
    width: 100%;
  } 
  
}



